.Page {
    display: grid;
    height: 100vh;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto 1fr;
}
.Page_Navbar {
    grid-column: 1 / -1;
}
.Page_Coffee {
    grid-column: 1 / -1;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border-radius: 20px;
    background-color: #EEEEEE;
    max-width: 500px;
}
.Page_CoffeeIcon {
    height: 60px;
    margin-right: 10px;
}
.Page_TorrentList {
    overflow-x: clip;
    overflow-y: scroll;
    height: 1;
}
.Page_FileList {
    display: grid;
    grid-template-rows: auto auto 1fr;
    padding: 10px;
    overflow: clip;
    overflow-wrap: anywhere;
}
.Page_FileListTitle {
    overflow: clip;
    font-weight: bold;
    margin-bottom: 10px;
}
.Page_TorrentList .TorrentList_Entry {
    border-bottom: solid 1px black;
}
.Page_Loading {
    margin: auto;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 1 / -1;
}
.Page_LoadingText {
    margin-top: 10px;
    font-weight: bold;
}
